// Format call to action items

// .callout .small

//color settings
$cta-style-1-h3-color: $color-dark-blue;
$cta-style-1-background-color: $color-gray-background;
$cta-style-2-h3-color: $color-dark-blue;
$cta-style-2-background-color: $color-gray-background;

.call-to-action {
  // font-size: 1.6em;
  font-weight: normal;

  @include breakpoint(small) {
      // @include small
  }

  @include breakpoint(medium) {
    @include callout;

  }

  @include breakpoint(large) {

  }

}

//Align the top cta down from top of the row
// .cta-style-1:first-child {
//     margin-top: 3em;
// }

.cta-style-1 h3{
color: $cta-style-1-h3-color;
}

.cta-style-1 {
background-color: $cta-style-1-background-color;
}

.cta-style-2 h3{
  color: $cta-style-2-h3-color;
}

.cta-style-2 {
background-color: $cta-style-2-background-color;
}


.call-to-action h3 {
  font-size: 1em;
  text-align: left;
}

.call-to-action hr {
  margin: .3rem auto;
}

.call-to-action .link {
  text-align: right;
  text-decoration: underline;
}

.call-to-action p {
  font-size: .8em;
  line-height: normal;
  text-align: left;
  margin-bottom: auto;
}
