// Info cards


// 14. Card
// --------
//
// $card-background: $white;
// $card-font-color: $body-font-color;
// $card-divider-background: $light-gray;
// $card-border: 1px solid $light-gray;
// $card-shadow: none;
// $card-border-radius: $global-radius;
// $card-padding: $global-padding;
// $card-margin: $global-margin;

//Color settings
$color-card-header-style-1: $color-dark-blue;
$color-card-background-style-1: $color-white-40pct;

// $cta-style-1-h3-color: $color-dark-blue;
// $cta-style-1-background-color: $color-gray-background;

//Fonts
// $font-card-header-style-1: "Roboto";

$font-card-header-style-1: $font-header;

$card-corner-radius-top-left: 15px;
$card-corner-radius-top-right: 15px;
$card-corner-radius-bottom-left: 0;
$card-corner-radius-bottom-right: 0;

.card {
  border-radius: $card-corner-radius-top-left $card-corner-radius-top-right $card-corner-radius-bottom-left $card-corner-radius-bottom-right;
}



.card-height-front-page {
  @include breakpoint(small) {

  }

    @include breakpoint(medium) {
      min-height: 8em;
    }

    @include breakpoint(large) {

    }

}


.card-panel-left {
  //Defines the panel where the cards are placed
  // class="small-12-medium-12-columns"

  @include breakpoint(small) {
      @include grid-column(12);
  }
  @include breakpoint(medium) {
    @include grid-column(9);

  }
  @include breakpoint(large) {

  }
}

.card-spacer {
  // width: 400px;
}

.card .note {
    display: block;
}

.card-left {
  @include breakpoint(small) {
    // float: none;
  }
  @include breakpoint(medium) {
    float: left;
    margin-left: 150px;
  }
  @include breakpoint(large) {
    float: left;
    margin-left: 150px;
  }
}

.card-right {
  @include breakpoint(small) {
    // float: none;
  }
  @include breakpoint(medium) {
    float: right;
    margin-right: 140px;
  }
  @include breakpoint(large) {
    float: right;
    margin-right: 170px;
  }
}

.card-divider {
  background-color: $color-white;
  color: $color-dark-blue;
  padding: 0;

  @include breakpoint(small) {
    padding-bottom: .1em;
  }

  @include breakpoint(medium) {
  }

  @include breakpoint(large) {
  }
}

.front-page .card-section {

  @include breakpoint(small) {
    // min-height: 5em;
    // padding-left: 2em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    // padding-left: .5em;
    padding-right: 2.0em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;

  }
}

.home-buying-program .card-section{

  @include breakpoint(small) {
    // min-height: 5em;
    padding-left: 2.5em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    padding-left: 2.5em;
    padding-right: 2.0em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;

  }
}

.credit-score-help .card-section{

  @include breakpoint(small) {
    // min-height: 5em;
    padding-left: 2.5em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    padding-left: 2.5em;
    padding-right: 2.0em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;

  }
}


.ten-popular-reasons .card-section{

  @include breakpoint(small) {
    // min-height: 5em;
    padding-left: 2em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    padding-left: 2.5em;
    padding-right: 2.0em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;

  }
}

.stop-leasing .card-section{

  @include breakpoint(small) {
    // min-height: 5em;
    padding-left: 2em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    padding-left: 2.3em;
    padding-right: 2.0em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;
  }
}

.card-section {

  @include breakpoint(small) {
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    min-height: 0;
    max-width: 30em;
    padding-right: 2.5em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(large) {
    min-height: 0;

  }
}

.card h2 {
  font-size: 1.8em;
  font-weight: 300;

  @include breakpoint(small) {
    text-align: left;
    font-size: .9em;
    font-weight: bold;
  }

  @include breakpoint(medium) {
    text-align: left;
    font-size: 1.6em;
  }

  @include breakpoint(large) {
    text-align: left;
  }

}

.card h3 {
font-size: 1.2em;
font-weight: 300;
}

.card p {
  font-size: .9em;
  font-weight: 200;
  line-height: 1.4em;
  padding-left: .5em;

  @include breakpoint(small) {
    margin-bottom: 0;
    padding-left: 0;
  }
  @include breakpoint(medium) {
    min-height: 0;
  }
  @include breakpoint(large) {
    min-height: 0;
  }
}

.card blockquote {
  font-size: .9em;
  font-weight: 200;
  line-height: 1.4em;
}

.card ul {
  font-size: .9em;
  font-weight: 200;
  line-height: 1.4em;
}

.card .link {
  font-size: .9em;
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  text-align: left;
  text-decoration: underline;
}

.card .link-card-veteran {
  font-size: 1.2em;
  padding: 0;
  padding-bottom: 1em;
  padding-right: 1em;
  text-align: right;
  text-decoration: underline;
}

  .card-position:last-child:not(:first-child) {
    float: left;
}

.card-clear {
  border-radius: 0;
  margin-left: 1em;
  background-color: $color-card-background-style-1;
}

.card-clear .card-divider {
  background-color: transparent;
  border-radius: 0;
  color: $color-card-header-style-1;
}

.card-style-1 {
  background-color: transparent;
  border: 0;
  border-radius: 0;

  card-divider {
    background-color: transparent;
    color: $color-card-header-style-1;
    font: $font-card-header-style-1;
  }

  card-style-1 h3 {
    background-color: transparent;
    color: $color-card-header-style-1;
    font: $font-card-header-style-1;
    margin-bottom: .1em;
    margin-top: .4em;
  }

  card-style-1 .card-section {
    background-color: $color-card-background-style-1;
    border-radius: .5em;
  }

  card-style-1 .link {
    background-color: $color-card-background-style-1;
    margin-right: 3em;
  }


// Compensates for the added div - change where radius occurs
  card-link-style-1 {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }

  card-divider {
    background-color: transparent;
    font: $font-card-header-style-1;
    border-left: 0;
    color: $color-card-header-style-1;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: $color-card-header-style-1;
  }

  card-section {
    background-color: $color-card-background-style-1;
    border-radius: .5em .5em 0 0;
  }

  link {
   background-color: $color-card-background-style-1;
   border-radius: 0 0 .5em .5em;
   padding-right: 4em;
  }
} // End of card style

.card-link-style-1 {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.card-link-style-1 .card-divider {
  background-color: transparent;
  color: $color-card-header-style-1;
  font: $font-card-header-style-1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: $color-card-header-style-1;

  card-link-style-1 .card-section {
    background-color: $color-card-background-style-1;
    border-radius: .5em .5em 0 0;
  }

  link {
      background-color: $color-card-background-style-1;
      border-radius: 0 0 .5em .5em;
  }
}


.link-card-veteran {
  font-size: 1.2em;
}

//Define card styles
.ten-popular-reasons {
  @extend .card-style-1;
}

.ten-popular-reasons .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}

//Define card styles
.ten-popular-reasons {
  @extend .card-style-1;
}

.ten-popular-reasons .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}

.home-buying-program {
  @extend .card-style-1;
}

.home-buying-program .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}



.credit-score-help {
  @extend .card-style-1;
}

.credit-score-help .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}

.home-buying-program {
  @extend .card-style-1;
}

.home-buying-program .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}

.stop-leasing {
  @extend .card-style-1;
}

.stop-leasing .card-divider {
    background-color: $color-white;
    color: $color-dark-blue;
}


.step-circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    border-color: $color-dark-blue;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin-right: .2em;
    font-size: .9em;
}

.step-header {
  display: inline-block;
  padding-left: .5em;
}
