// Style the right sidebar


.container-sidebar-right {
  //Defines the panel where the cards are placed
// padding-top: 2em;
  @include breakpoint(small) {
    @include grid-column(0);

 }

  @include breakpoint(medium) {
    @include grid-column(0);
  }

  @include breakpoint(large) {
    @include grid-column(3);
    // padding-top: 3em;
    // float: left;
  }
}
