// Manage the main container when on the left hand side of the page_title
// Using sidebar-right

.container-main-left {
  @include breakpoint(small) {
    @include grid-column(12);
}
  //   @include grid-column(9);
  // float: left;
  @include breakpoint(large) {
      @include grid-column-offset(0);
      @include grid-column(9);
    }
}


//Used to split the left container into 2 equal columns
.col-left {
  float: left;
  width: 50%;
}

//Used to split the left container into 2 equal columns
.col-right {
  float: left;
  width: 50%;
}

.col-left h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

.col-right h3 {
  font-size: 1.5em;
  text-decoration: underline;
}
