// System footers

.content {

    // margin: 0 auto;
    // width: 100%;


  @include breakpoint(small) {
    @include grid-column(12);
    font-size: .65em;
  }

  @include breakpoint(medium) {
    // @include grid-column(12);

  }

  @include breakpoint(large) {
    // @include grid-column(6);
    font-size: .8em;

    .footer-content-left {
      float: left;
      padding: 1em;
      width: 50%;
    }

    .footer-content-right {
      float: left;
      padding: 1em;
      width: 50%;
    }

  }

}
