// Front page rows

$hero-text-outline-color: #3e5a4b;

.fp-block-text-left{
  @extend .block-text-left;
  padding-bottom: .2em;

  @include breakpoint(small) {

  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}

.fp-block-text-center{
  @extend .block-text-center;
  padding-bottom: .2em;

  @include breakpoint(small) {

  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}

.fp-block-text-right{
  @extend .block-text-right;

  @include breakpoint(small) {

  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}

.front-page .hero-title {
  text-align: center;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px $hero-text-outline-color;
  @include breakpoint(small) {
    -webkit-text-stroke: 0px $hero-text-outline-color;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: 0;
    padding-bottom: 0em;
  }

  @include breakpoint(medium) {
    font-family: $font-header;
    font-weight: 600;
    padding-left: 2em;
    padding-right: 2em;
    // padding-top: .5em;
    // padding-bottom: 1em;
  }
  @include breakpoint(large) {
    font-size: 1.5em;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 6em;
    padding-bottom: 1em;
  }

}

.front-page .hero-title h1 {
  // color: $color-dark-blue;
  // color: $color-action-green;
  font-family: $font-header;
  font-weight: 600;
  text-align: center;
  -webkit-text-fill-color: white;
  // -webkit-text-stroke: 2px $hero-text-outline-color;
  // font-family: cursive;
  line-height: 1em;
  padding-top: .5em;
  text-align: center;
  @include grid-column(12);

  @include breakpoint(small) {
    padding-top: .1em;
    font-size: 1.3rem;
    line-height: 1.1em;
  }

  @include breakpoint(medium) {
    font-size: 2.5rem;
    // -webkit-text-stroke: 2px $hero-text-outline-color;
  }
  @include breakpoint(large) {
    font-size: 3rem;
    line-height: .8em;
  }
}

.front-page-start-link {
  // background-color: $color-gray-20pct;
  padding-bottom: 1em;
  text-align: center;
  text-decoration: underline;
  @include breakpoint(small) {
    font-size: 1em;
  }
  @include breakpoint(medium) {
    font-size: 1.2em;
  }
  @include breakpoint(large) {
    font-size: 1.2em;
  }

}

.fp-container {
  @include breakpoint(small) {

  }

  @include breakpoint(medium) {
  }

  @include breakpoint(large) {
  }
}

.front-page-col {

  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {


  }

  @include breakpoint(large) {
    @include grid-column(6);
  }
}

.front-page-col .card {
  @include breakpoint(small) {
    margin-left: .5em;
    margin-right: .5em;
  }

  @include breakpoint(medium) {
    min-height: 14em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  @include breakpoint(large) {

  }

}

.front-page .hero p {
  // font-size: 1.6em;
  font-weight: lighter;

  @include breakpoint(small) {
    font-size: 1.2em;
    line-height: 1.3;
    padding: .1em;
  }

  @include breakpoint(medium) {
    font-size: 1.6em;
    padding-left: 1em;
    padding-right: 1em;
  }

  @include breakpoint(large) {
    font-size: 1.6em;
    padding-left: 6em;
    padding-right: 6em;
    ul {
      padding-left: 10.5em;
    }
  }

}

.front-page .hero ul {


  @include breakpoint(small) {

  }

  @include breakpoint(medium) {

  }

  @include breakpoint(large) {

      padding-left: 10.5em;
  }

}

.front-page .hero .note {


  @include breakpoint(small) {

  }

  @include breakpoint(medium) {

  }

  @include breakpoint(large) {

      text-align: center;
  }

}
