// Hero images

.front-hero-row{
  min-height: 173px;
}

.front-hero-image {
  @include breakpoint(large) {
    // All CSS in here goes inside the media query
    background-image: url('../images/ccr/hero/house1024.jpg');
    height: 473px;
  }

    @include breakpoint(small) {
      // All CSS in here goes inside the media query
      background-image: url('../images/ccr/hero/house474.jpg');
      height: 219px;
    }
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: contain;
  // background-size: 1024px 473px;
  // height: 473px;
  // height: 593px; //593
  margin: 0;
  padding: 0;
}
