// Hero images

.front-hero-row{
  min-height: 173px;
}

//shared hero styles accross break points
$hero-color: $color-white;

//Used only for the front page
$front-page-hero-large-height: 576px;
$front-page-hero-small-height: 233px;

//Div height the holds the background image
$hero-small-height: 116px;
$hero-large-height: 288px;

//Line under the hero
$hero-small-border-bottom-color: #3a4c53;
$hero-small-border-bottom-width: 1px;
$hero-small-border-bottom-type: solid;

$hero-large-border-bottom-color: #3a4c53;
$hero-large-border-bottom-width: 2px;
$hero-large-border-bottom-type: solid;


//Hero image text
$hero-font-family: $font-header;
$hero-small-font-size: 1em;
$hero-small-text-align: right;
$hero-small-padding: 4.2em 1em 0 0;

$hero-large-font-size: 3em;
$hero-large-text-align: right;
$hero-large-padding: 4.2em 1em 0 0;


.hero-image-defaults {
  font-family: $hero-font-family;
  color: $color-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 2.2em 1em 0 0;
  // font-size: 3.0em;
  // text-align: right;
}

.front-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    padding-top: 5em;
    background-image: url('../images/ccr/hero/front-hero-image-414.jpg');
    height: $front-page-hero-small-height;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/front-hero-image-1024.jpg');
    height: $front-page-hero-large-height;
  }

}

.default-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
  }
  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
  }

}

.home-buying-program-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }


}

.loan-programs-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.community-heros-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.veterans-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.low-income-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.usda-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.fha-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.conventional-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.stop-leasing-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height: $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }

}

.down-payment-help-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height:  $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }
}

.credit-score-hero-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height: $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }

}

.ten-popular-reasons-image {
  @extend .hero-image-defaults;

  @include breakpoint(small) {
    background-image: url('../images/ccr/hero/414x116.png');
    height: $hero-small-height;
    font-size: $hero-small-font-size;
    color: $hero-color;
    text-align: $hero-small-text-align;
    border-bottom: $hero-small-border-bottom-width $hero-small-border-bottom-type $hero-small-border-bottom-color;
  }

  @include breakpoint(large) {
    background-image: url('../images/ccr/hero/1024x288.png');
    height: $hero-large-height;
    font-size: $hero-large-font-size;
    color: $hero-color;
    text-align: $hero-large-text-align;
    border-bottom: $hero-large-border-bottom-width $hero-large-border-bottom-type $hero-large-border-bottom-color;
  }

}
