#mc_embed_signup {
   background: #fff;
   clear: left;
   font: 14px Helvetica,Arial,sans-serif;
  }

// .mail-signup-center {
//
//
// }
// .mail-signup-center-1 {
    // margin: 0 auto;
    // width: 100%;

  // @include breakpoint(small) {
  //   @include grid-column(12);
  //   font-size: .65em;
  // }
  //
  // @include breakpoint(medium) {
  //   @include grid-column(4);
  //
  // }
  //
  // @include breakpoint(large) {
  //   @include grid-column(4);
  //   font-size: .8em;
  //
  // //   .footer-content-left {
  // //     float: left;
  // //     padding: 1em;
  // //     width: 50%;
  // //   }
  // //
  // //   .footer-content-right {
  // //     float: left;
  // //     padding: 1em;
  // //     width: 50%;
  // //   }
  // //
  //  }

// }
