


.main-content {
  background-color: white;


  @include breakpoint(small) {
    width: 100%;
  }

  @include breakpoint(medium) {
    width: 640px;
  }

  @include breakpoint(large) {
    width: 1024px;
    margin: 0 auto;
    // -left: 10%;
    // margin-right: 10%;
  }

}
