

//Mobile menu settings
$color-mobile-menu-canvas-backgorund: $color-gray-background;
$color-mobile-menu-text: $color-action-green;
$color-mobile-menu-anchor: $color-dark-blue;


.title-bar {
  background: $color-gray-20pct;
  padding: .5rem;
  // width: 639px;
  // overflow: hidden;
  @include breakpoint(small) {

  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}


.page-top-bar {
  margin: 0 auto;
  padding-bottom: 0;
  background-color: $color-black-60pct;
  color: $color-white;
  text-align: center;
  @include breakpoint(small) {
    font-size: .7em;
  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {
    font-size: 1em;
    width:1024px;
  }
}

.top-bar {
  margin: 0;
  padding-bottom: 0;
  margin: 0 auto;

  @include breakpoint(small) {

  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {
    width:1024px;
  }
}

.menu-button{
  float:left;
  width:10%;
}

.title-bar-title {
  float: left;
  @include breakpoint(small) {
    width: 30%;
  }
  @include breakpoint(medium) {
    width: 40%;
  }
  @include breakpoint(large) {

  }

}

.title-bar-phone {
  float: left;
  @include breakpoint(small) {
    width: 50%;
    text-align: right;
  }
  @include breakpoint(medium) {
    width: 50%;
  }
  @include breakpoint(large) {

  }
}

.menu-phone-number {
  color: $white;
  padding-right: 10px;
  padding-top: 8px;
  @include breakpoint(small) {
    display: none;
  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}
