// Format the mission statement
.mission-padding {
  // background-color: $white;
  // float: left;
  // height: 18em;
}

.mission-title {
  // background-color: $color-gray-20pct;
  @include breakpoint(small) {
    // font-size: 1.2em;
    // line-height: 1.3;
    // padding: .5em;
  }

  @include breakpoint(medium) {
    // font-size: 1.6em;
    // padding-left: 6em;
    // padding-right: 6em;
  }

  @include breakpoint(large) {
    // font-size: 1.6em;
    // padding-left: 6em;
    // padding-right: 6em;
  }
}

.mission {
  background-color: $white;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.mission p {
  // font-size: 1.6em;
  font-weight: lighter;

  @include breakpoint(small) {
    font-size: 1.2em;
    line-height: 1.3;
    padding: .1em;
  }

  @include breakpoint(medium) {
    font-size: 1.6em;
    // padding-left: .5em;
    padding-right: 1em;
  }

  @include breakpoint(large) {
    font-size: 1.6em;
    // padding-left: .5em;
    padding-right: 12em;
  }


}

.mission .note {
  display: block;
  font-size: .6em;
  padding-top: .1em;
  }
