// Wraps around the page content section
// Floated area on the backgorund

// .page-contents {
//   border-color: $color-border;
//   border-style: solid;
//   border-top-width:2px;
//   border-left-width: 1px;
//   border-bottom-width: 1px;
//   border-right-width: 4px;
//   // border-left: 0;
//
//   @include breakpoint(small) {
//
//   }
//   @include breakpoint(medium) {
//
//   }
//   @include breakpoint(large) {
//     width:1024px;
//     margin: 0 auto;
//   }
// }
