//Manange the search bar css
//Search for property

//Used in property search bar
$search-form-element-height: 2.5em;
$search-form-element-padding-top: .1em;

//Button
// .fp-btn-search {
//   color: $color-action-green;
// }

.fp-search-bar {
  @include grid-column(12);
  // background-color: $color-gray-20pct;
  // background-image: url('wp-content/themes/foundationpress/assets/images/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  .fp-input-search {
    // height: $search-form-element-height;
    // margin: 0;
    color: $color-black;
    border-width: 1px;
    border-style: solid;
    border-color: $color-black;
    background-color: $color-white;
    vertical-align: baseline;
  }

  .fp-button-search {
    background-color: $color-action-green;
    vertical-align: baseline;
  }

    @include breakpoint(small) {
      .fp-button-search {
        width: 85%;
        margin-top: 1em;
      }
      .front-page .hero-title h1 a:link, a:visited {
        color: $color-white;
      }
  }
  @include breakpoint(medium) {
    .fp-input-search {
      width: 40%;
    }
    .fp-button-search {
      width: auto;
    }
  }
  @include breakpoint(large) {
    padding: .2em;
  }
}

// .search-bar-wait-1 {
//   background: rgba( 255, 255, 255, 0.4)
//   asset-url('wp-content/themes/foundationpress/assets/images/ajax-loader.gif', image)
//   50% 50%
//   no-repeat;
//   // display: none;
//   height: 100%;
//   left: 0;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
// }
//
//
// // # loader.css.scss
//
// .modal {
//   background: rgba( 255, 255, 255, 0.4)
//   asset-url('wp-content/themes/foundationpress/assets/images/ajax-loader.gif', image)
//   50% 50%
//   no-repeat;
//     display: none;
//     height: 100%;
//     left: 0;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 1000;
// }
//
// body.loading {
//     overflow: hidden;
// }
//
// body.loading .modal {
//     display: block;
// }
