// Front page rows



.fp-slider {
    // background-color: $color-gray;
      // border-color: green;
      // border-style: solid;
      // border-width: 1px;
      display: flex;

      @include breakpoint(small) {
        // margin: 1em 2em 1em 2em;
        flex-direction: column;
      }

      @include breakpoint(medium) {
        // margin: 2em 2em 2em 2em;
        flex-direction: row;
      }

      @include breakpoint(large) {
      }
    }

.fp-slider .left-panel {
  flex: 1;
  margin: auto;
  // float: left;
  // flex:

    // background-color: $color-gray;
    // background-color: $color-gray;
    // border-color: green;
    // border-style: solid;
    // border-width: 1px;
    // min-height: 100px;
    // margin: 2em 2em 2em 2em;

      .lets-talk {
        text-align: center;
      }

      @include breakpoint(small) {
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        // margin-left: 1em;
        // margin-right: 1em;
        //   width: auto;
          li {
            padding-top: .8em;
          }
        }

      @include breakpoint(medium) {
        // font-size: 1.2em;
        // width: 45%;
      }

      @include breakpoint(large) {

      }
    }

// Hide slides - div
#slide-1 {
  display:none;
}
#slide-2 {
  //  display:none;
}

.fp-slider .right-panel {
  flex: 1;
  margin: auto;


  // float: left;

  // background-color: $color-hover-green;
  // border-color: green;
  // border-style: solid;
  // border-width: 1px;
  // min-height: 100px;
  // padding-top: 1em;
  // margin-left: 1em;
  // margin-right: 1em;
  // margin-bottom: 1em;


  @include breakpoint(small) {
    // width: auto;
    font-size: .9em;
  }

  @include breakpoint(medium) {
    // width: 45%;
  }

  @include breakpoint(large) {

  }
}

.fp-slider-link {
font-family: $font-header;
font-weight: 700;
text-align: center;

@include breakpoint(small) {
  // width: auto;
  font-size: 1.2em;
}

@include breakpoint(medium) {
  font-size: 2.2em;
}

@include breakpoint(large) {

}

}
