// SWA custom styles and overrides
//
// $breakpoints: (
//   small: 0,
//   medium: 640px,
//   large: 1024px,
//   xlarge: 1200px,
//   xxlarge: 1440px,
// );


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
// @import url(https://fonts.googleapis.com/css?family=Arvo:400);
// @import url(https://fonts.googleapis.com/css?family="Myrid Pro":400);

$color-white: rgba(255, 255, 255, 1);
$color-white-40pct: rgba(255, 255, 255, .4);
$color-black: rgba(0, 0, 0, 1);
$color-black-60pct: rgba(0, 0, 0, .6);
$color-gray: #e5e5e5; //Fedex background -http://supplychain.fedex.com/solutions/supply-chain/
$color-gray-20pct: rgba(216, 216, 216, .2);
$color-gray-10pct: rgba(216, 216, 216, .1);
$color-gray-background: rgba(242, 242, 242, 1);
$color-dark-blue: rgba(48, 78, 143, 1);
$color-gold: rgba(177, 160, 75, 1);
$color-action-green: rgba(102, 181, 147, 1);
$color-hover-green: rgba(102, 181, 147, .7);
$color-border: $color-black;

$font-header: 'Quicksand', sans-serif;
$body-font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;


// $font-card-header-style-1: "Roboto";

// //Used in property search bar
// $search-form-element-height: 2.5em;
// $search-form-element-padding-top: .1em;

body {
  background-attachment: fixed;
  background-color: $color-gray;
  // background-image: url('/wp-content/uploads/2016/11/concrete_seamless.png');
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Helvetica Neue';
}

h1, h2, h3, h4, h5, h6 {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
    font-family: $font-header;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}


.container-main {
  background-color: white;
}

//Links
a:link,
a:visited,
a:active {
  color: $color-action-green;
}

a:hover,
.search-button a:hover,
 {
  color: $color-dark-blue;
}

h1 {
  // font-family: cursive;
  font-size: 2.5em;
  color: $color-dark-blue;
  padding-top: .5em;
  line-height: 1.2em;
  @include breakpoint(medium) {
    font-size: 2.5rem;
  }
}


.block-text-left {
  display: block;
  // line-height: .1em;
  @extend .text-left;
}

.block-text-center {
  display: block;
  // line-height: .1em;
  @extend .text-center;
}

.block-text-right {
  display: block;
  // line-height: .1em;
  @extend .text-right;
}

//
// .row-front-call-to-action {
//   background-color: $color-gray-20pct;
//   // font-size: 1.3em;
//   // padding-bottom: 20px;
//   padding-top: 20px;
// }

// .page-sidebar-right {
//   border-left-style:solid;
//   border-left-color: black;
//   border-left-width: 1px;
//   border-bottom-style:solid;
//   border-bottom-color: black;
//   border-bottom-width: 2px;
//   border-right-style:solid;
//   border-right-color: black;
//   border-right-width: 2px;
// }

// .front-page {
//   border-left-style:solid;
//   border-left-color: black;
//   border-left-width: 1px;
//   border-bottom-style:solid;
//   border-bottom-color: black;
//   border-bottom-width: 2px;
//   border-right-style:solid;
//   border-right-color: black;
//   border-right-width: 2px;
// }


// Page content
@import 'swa/page-content';

//Main content section
@import 'swa/main-content';

//Menu settings
@import 'swa/menus';

//Front page
@import 'swa/front-page';

//Hero images
@import 'swa/front-hero';
@import 'swa/hero-images';

//Search bar on main page
@import 'swa/search-bar';

@import 'swa/sliders';

// Mission statement area
@import 'swa/mission';


// Info cards
@import 'swa/cards';

//Call to action items
@import 'swa/call-to-action';

//Load right sidebar-right
@import 'swa/container-main-left';

//Load right sidebar-right layout
@import 'swa/container-sidebar-right';

//Load sidebar-right page styles
@import 'swa/page-sidebar-right';

// Footers
@import 'swa/footer';

// Specific page over-rides
@import 'swa/pages/home-buying-program';
@import 'swa/pages/credit-score-help';

@import 'swa/mail-chimp';
