
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2>7. Shop For Mortgage</h2>
    </div>
    <div class="card-section">
      <p>We will provide you with a :
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
  </div>
