
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">6</span><span class="step-header">Accomplish Credit Goal</span></h2>
    </div>
    <div class="card-section">
      <p>Once your credit goal is accomplished, your next step is to get qualified for your mortgage.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
  </div>
