
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">3</span><span class="step-header">Develop a FICO Strategy</span></h2>
    </div>
    <div class="card-section">
      <p>Along with your credit coach you will develope a strategy for
        raising your credit score as quickly as possible.  There are many special
        techniques that can be employed.  Since we are unlike credit repair companies
        which charge a monthly fee, we are motiviated to accomplish your credit goals
        as quickly as possible.  We want you to move into your home quickly.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
