
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">1</span><span class="step-header">Get Started Today</span></h2>
    </div>
    <div class="card-section number-list">
      <p>Please call our FICO coach at 1-800-418-1164 to see how we can help.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
