
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">4</span><span class="step-header">Implement Strategy</span></h2>
    </div>
    <div class="card-section">
      <p>When you leave your strategy meeting, you will know what your next move is.
        your coach will follow-up with a written plan for you to follow and
        will be available for any questions which you might have.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
