
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">5</span><span class="step-header">Review Results & Refine</span></h2>
    </div>
    <div class="card-section">
      <p>You will have scheaduled follow-up sessions with your credit coach as necessary
        in order for you to quickly reach your credit goals.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          </ul> #}
      </div>
      {# <hr/> #}
  </div>
