
{# Step 1 #}

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">2</span><span class="step-header">Meet Your FICO Coach</span></h2>
    </div>
    <div class="card-section">
      <p>When you meet your coach, you review your current credit files as
        provided by MyFico.com.  When you download your credit files from this
        website you not only receive the same reports and credit scores the mortgage
        brokers will be using, you will not reduce your credit score.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
