

  <!-- CTA 1 -->
  <div class="call-to-action small cta-style-1">
    <h3>Have a credit question?</h3>
    <hr/>
    <p>Checkout our handy credit information.
    </p>
    <div class="link">
      <a href="#">Learn more</a>
    </div>
  </div>
