
<div class="call-to-action small cta-style-2">
  <h3>Loan Programs</h3>
  <hr/>
  <p>Rich, poor, somewhere in between?  We
    have a loan program program for you.  Take a
    look around and then lets get started.
  </p>
  <div class="link">
    <a href="/loan-programs.html">Loan Programs</a>
  </div>
</div>
