

  <!-- CTA 1 -->
  <div class="call-to-action small cta-style-1">
    <h3>Why People Put-off Buying a Home</h3>
    <hr/>
    <p>We have gathered the TOP 10 Reasons why people feel like
      they can't buy their home. In many cases we can help. Give us a call.
    </p>
    <div class="link">
      <a href="/lists/10-popular-reasons-not-to-buy.html#top">See if any sound familiar</a>
    </div>
  </div>
