
<div class="call-to-action small cta-style-1">
  <h3>Stop Leasing Your Home</h3>
  <hr/>
  <p>Buy a home for yourself, not one for your landlord.  Have a questions?  We
    have answers and want to assist you.  Lets get started today. It won't cost you a thing.
  </p>
  <div class="link">
    <a href="/stop-leasing.html">Common issues</a>
  </div>
</div>
