
<div class="call-to-action small cta-style-1">
  <h3>Search 1000's of homes</h3>
  <hr/>
  <p>We give you complete access to the North Texas
    real estate database. The exact same information all
    the professional REALTORS use.  Never hurts to see
    what is on the market.
  </p>
  <div class="link">
    <a href="/search-mls/tx/dfw-metro/#top">Begin searching</a>
  </div>
</div>
