{# Home Buying Program #}




{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "What stopping you from buying your home?",
    "page_class" : "page-10-popular-reasons",
    "card_class" : "ten-popular-reasons",
    "hero_text" : "Ten Popular Reasons Not To Buy",
    "hero_image" : "ten-popular-reasons-image",
    "hero_title" : "What’s stopping you<span class='show-for-small-only'><br/>
        </span><span class='hide-for-small-only'>&nbsp;</span>from buying your home?",
    "mission_text" : "We hear it all the time. The reason why someone is
    postponing purchasing their home. We have to admit some of the reasons
    are legitimate. Fortunately, many are just opinions which have been
    formed due to lack of information. We can overcome most of the legitimate
    reasons with knowledge and a little planning."

} %}


  {% extends data.parent_template %}

{# {% set card = { "h2_span" : "10-popular-reasons-span"}%} #}
<!-- You write code for this content block in another file -->
{% block template %}
{# <h3>Ten Popular Reasons<br/>Stopping Home Buyers</h3> #}
  {% include "cards/lists/not-buying/not-buying-10.njk" %}
  {% include "cards/lists/not-buying/not-buying-9.njk" %}
  {% include "cards/lists/not-buying/not-buying-8.njk" %}
  {% include "cards/lists/not-buying/not-buying-7.njk" %}
  {% include "cards/lists/not-buying/not-buying-6.njk" %}
  {% include "cards/lists/not-buying/not-buying-5.njk" %}
  {% include "cards/lists/not-buying/not-buying-4.njk" %}
  {% include "cards/lists/not-buying/not-buying-3.njk" %}
  {% include "cards/lists/not-buying/not-buying-2.njk" %}
  {% include "cards/lists/not-buying/not-buying-1.njk" %}
<h3 class="text-center">We Can Help You Purchase Your New Home</h3>
<p class="text-center">
Call us today 1-800-418-1164<br/>
or<br/>
<a class="front-page-start-link" href="/home-buying-program.html">Discover Our Program<a/>
</p>
{% endblock %}




{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {# {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %} #}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
