<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <title>{{ data.page_title }}</title>
    <link rel="stylesheet" href="../wp-content/themes/foundationpress/assets/stylesheets/{{ css_manifest['foundation.css'] }}">
  </head>

  {% set top_bar_data = {
      "prefix"    : "Serving North Texas including 470 communities such as: ",
      "city_list" : "DFW Metro&#8226;Waco&#8226;Sherman&#8226;Abilene&#8226;Tyler&#8226;Wichita Falls&#8226;Lampasas"} %}
  <body onload='init()'>

    <div class="page-contents">
      {# Page Header #}
      <div class="top-bar page-top-bar">{{top_bar_data.prefix|safe}}{{top_bar_data.city_list|safe}}</div>
      {#  Begin menu #}
      <div class="title-bar" data-responsive-toggle="ccr-menu" data-hide-for="medium">
        <div class='menu-button'><button class="menu-icon" type="button" data-toggle="ccr-menu"></button></div>
        {# <div> #}
          <div class="title-bar-title">Menu</div>
          <div class="title-bar-phone">972-876-7100&nbsp;</div>
        {# </div> #}
      </div>

      <menu class="top-bar" id="ccr-menu">
        <div class="top-bar-left">
          <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            <li>
              <a href="/index.html">Home</a>
            </li>
            <li>
              <a href="/home-buying-program.html">Our Program</a>
            </li>
            <li>
            <li>
              <a href="/search-mls/tx/dfw-metro">Search Homes</a>
              {# <ul class="menu vertical">
                <li>
                  <a href="/search-mls/tx/north/communities/tx-north-communities.html">North Texas Communities</a>
                </li>
                <li>
                  <a href="/search-mls/tx/counties/tx-north-counties.html">North Texas Counties</a>
                </li>
              </ul> #}
            </li>
            <li>
              <a href="/loan-programs.html">Loan Programs</a>
              <ul class="menu vertical">
                <li>
                  <a href="/loan-programs/veteran-home-loan-program.html">Veterans</a>
                </li>
                <li>
                  <a href="/loan-programs/community-hero-home-loans.html">Community Heros</a>
                </li>
                <li>
                  <a href="/loan-programs/conventional-home-loan-program.html">Conventional Home Loans</a>
                </li>
                <li>
                  <a href="/loan-programs/fha-home-loan-program.html">FHA Home Loans</a>
                </li>
                <li>
                  <a href="/loan-programs/low-income-loan-program.html">Low Income</a>
                </li>
                <li>
                  <a href="/loan-programs/usda-home-loan-program.html">USDA Home Loans</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/down-payment-help.html">Down Payment Help</a>
            </li>
            <li>
              <a href="/credit-score-help.html">Credit Solutions</a>
            </li>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li class="menu-phone-number small-offset-2">1-800-418-1164&nbsp;</li>
            </ul>
          </div>
        </menu>

        {% block content %}
          <!--- Our content will be here -->
        {% endblock %}

        {#  Broker info, Legal disclaimers and TREC disclosure links #}
        {% include "partials/footer.njk" %}
        {# &nbsp;  #}
        {# Required to make outline include the footer #}
      </div>

      {#End page contents #}
      {# <script src="wp-content/themes/foundationpress/assets/components/jquery/dist/jquery.js"></script> #}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="../wp-content/themes/foundationpress/assets/components/what-input/dist/what-input.js"></script>

      {# <script src="wp-content/themes/foundationpress/assets/javascript/foundation.js"></script> #}

      <script src="../wp-content/themes/foundationpress/assets/javascript/{{ js_manifest['foundation.js'] }}"></script>

      <!-- <script src="js/app.js"></script> -->

      <!-- For external browesr - remove before deployment -->
      <script id="__bs_script__">
      </body>
    </html>
