
{# Page-single.njk #}

<!-- base-layout.njk -->
{% extends data.base_layout %}

{% if not data.page_title %}
  {% set data = {page_title: 'No page title passed...'} %}
{% endif %}

{% block content %}


<div id="front-page" class="front-page">
  <article class="main-content" id="front-page">
  <!--  Hero image -->
  <div class="row">
    <div class="{{data.hero_image}}">
    <div class="hero-title">
      <a href="/credit-score-help.html"><h1>{{ data.hero_title|safe }}</h1></a>
      <div class="call-now"><a href="tel:1-800-418-1164">Call Now! 1-800-418-1164</a></div>
    </div>

      {# Search Bar #}
      {% include "partials/forms/front-page-property-search.njk" %}
    </div>
  </div>


<!--  Mission panel-->
<div class="row">
    {% include "partials/sliders/fp-slider-primary.njk" %}
</div>

<!-- Left Column -->
<div class="row">
  <div class="fp-container">
  {% block template %}

  {% endblock %}
</div>

</div>



</article>
</div> <!-- End of calls -->

{% endblock%}
