

<!-- base-layout.njk -->
{% extends data.base_layout %}

{% if not data.page_title %}
  {% set data = {page_title: 'No page title passed...'} %}
{% endif %}

{% block content %}


<div id="page-sidebar-right" class="page-sidebar-right {{ data.page_class }}">
  <article class="main-content" id="top">
  <!--  Hero image -->
  <div class="row">
     {# servant-hero-row #}
    <div class="{{ data.hero_image }}">
      {# <div class="{{ data.hero_text_style }}">{{ data.hero_text }}</div>  #}
      {{ data.hero_text }}
    </div>
  </div>


<!--  Mission panel-->
<div class="row">
  <!-- <div class="mission-padding medium-2 columns">
    &nbsp; -->
    <!--  Used to pad -->
  <!-- </div> -->
  <div class="mission-title small-12 medium-12 columns">

    <h1>{{ data.hero_title|safe }}</h1>
  </div>
  <div class="mission small-12 medium-12 columns">
    <p>
      {{ data.mission_text|safe }}
      <span class="note">{{ data.mission_note|safe }}</span>
    </p>
  </div>
</div>

<!-- Left Column -->
<div class="row row-front-call-to-action">
  <div class="container-main-left">
  {% block template %}

  {% endblock %}
</div>
  <!-- Right Column -->
  <div class="container-sidebar-right show-for-large">

    {% block side_bar%}
      {# Print our the sidebar elements #}
      {# supplied by the calling template #}
    {% endblock %}

  </div>
  </div>



</article>
</div> <!-- End of calls -->

{% endblock%}
