
{# Page-single.njk #}

 {# This is not ready to use 01-26-17 #}
 
<!-- base-layout.njk -->
{% extends data.base_layout %}

{% if not data.page_title %}
  {% set data = {page_title: 'No page title passed...'} %}
{% endif %}

{% block content %}


<div id="page-sidebar-right">
  <article class="main-content" id="page-name">
  <!--  Hero image -->
  <div class="row servant-hero-row">
    <div class="servant-hero-image">
    </div>
  </div>


<!--  Mission panel-->
<div class="row">
  <!-- <div class="mission-padding medium-2 columns">
    &nbsp; -->
    <!--  Used to pad -->
  <!-- </div> -->
  <div class="mission-title small-12 medium-12 columns">

    <h1>{{ data.hero_title|safe }}</h1>
  </div>
  <div class="mission small-12 medium-12 columns">
    <p>
      {{ data.mission_text|safe }}
      <span class="note">{{ data.mission_note|safe }}</span>
    </p>
  </div>
</div>

<!-- Left Column -->
<div class="row row-front-call-to-action">
  <div class="container-main">
  {% block template %}

  {% endblock %}
</div>

  </div>



</article>
</div> <!-- End of calls -->

{% endblock%}
