
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">B</span><span class="step-header">We can't break our lease</span></h2>
    </div>
    <div class="card-section">
      <p>We know most all the ins and outs of negotiating leases. We
        have simple and low cost, mostly no cost ways to end your apartment
        lease when you purchase your home through us.  None of our methods will
        damage your rental credit in any way.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
