
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">C</span><span class="step-header">I have no idea where to start</span></h2>
    </div>
    <div class="card-section">
      <p>Your coordinator is there for you when you have any questions
        regarding the process.  They don't replace your credit expert,
        Realtor or mortgage broker, but that isn't why they exist.  They are
        there to help you navigate the journey to your new home.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
