
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">A</span><span class="step-header">My spouse's credit has problems</span></h2>
    </div>
    <div class="card-section">
      <p>Many couples have this exact problem.  Many times it takes both salaries to
        qualify for the mortgage.  This exactly the problem we solve with our
        <a href="/credit-score-help.html#top">Credit Solutions</a>. Just call us at 1-800-418-1164
        and we will begin the process of resolving outstanding credit issues.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
