{# Front Page Property Search Bar #}

<div class="fp-slider">

  <div class="left-panel">
    {{ data.mission_text|safe }}
    <form>
      <div class="lets-talk">
        <input id="btn-search" type="submit" class="button lets-talk" value="Lets Talk">
      </div>
    </form>
  </div>
  <div class="right-panel">
    <div id="slide-1" class="fp-slider-link">
      <a href="/lists/10-reasons-not-to-buy.html">10 Common Reasons<br/>for not<br/>Purchasing a Home</a>
    </div>
    <div id="slide-2" class="fp-slider-link">
      <a href="/home-buying-program.html">How Our System<br/>Saves You Money</a>
    </div>

  </div>

</div>
