{# Home Buying Program #}




{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Credit Score Help",
    "page_class" : "page-credit-score-help",
    "card_class" : "credit-score-help",
    "hero_text" : "Credit Solutions",
    "hero_image" : "credit-score-hero-image",
    "hero_title" : "Free Credit Score Assistance",
    "mission_text_org" : "Not everyone has perfect credit scores.  Although
    there are many reasons for lower scores, the bottom line is your
    monthly mortgage payment will be less when you can raise your credit score.
    <br/>
    Our clients enjoy access to a complimentary credit score increase
    program.  Your personal FICO coach will help you accomplish your credit
    goals by teaching you how to prepare or repair your credit file before applying
    for your mortgage.
    <br/>
    If your middle credit score is below a 740 FICO you can benefit from this free service.
    With a higher score all of your personal credit costs will be reduced.</div>",

    "mission_text" : "Not everyone has perfect credit scores.  Although
    there are many reasons for lower scores, the bottom line is your
    monthly mortgage payment will be less when you can raise your credit score.
    <ul>
    <li>Enjoy access to a complimentary credit score increase program.</li>
    <li>Personal FICO coach</li>
    <li>Accomplish your personal credit goals</li>
    <li>Prepare or repair your credit file before applying for your mortgage.</li>
    <li>With a higher credit score all of your personal credit costs will be reduced.</li>
    </ul>
    If your middle credit score is below a 740 FICO you can benefit from this free service",
    "mission_note" : "Note: Our service usually provides a single tier increase in credit score.
    Most free & several paid credit score services are not the score used to originate your mortgage."
} %}

{# <div class='col-left'></div><div class='col-right'></div> #}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {% include "cards/credit-score-help/credit-score-card-1.njk" %}

  {% include "cards/credit-score-help/credit-score-card-2.njk" %}

  {% include "cards/credit-score-help/credit-score-card-3.njk" %}

  {% include "cards/credit-score-help/credit-score-card-4.njk" %}

  {% include "cards/credit-score-help/credit-score-card-5.njk" %}

  {% include "cards/credit-score-help/credit-score-card-6.njk" %}
{% endblock %}




{% block side_bar %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-loan-programs.njk" %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-search-mls-1.njk" %}

{% endblock%}
