{# Home Buying Program #}




{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Down Payment Help",
    "card_class" : "down-payment-help",
    "hero_text" : "Down Payment Help",
    "hero_image" : "down-payment-help-hero-image",
    "hero_title" : "Many People Qualify<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>for Down Payment Assistance",
    "mission_text" : "In the North Texas area there are over 16 separate programs
    available.  Some families will qualify for more than one.  Allow our team to check
    if you qualify.",
    "mission_note" : "Note: Although everyone's situation and time-line is
    different, we will work hard to get you the best deal possible. Give
    us a call and let's get started."
} %}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {# {% include "cards/down-payment-help/down-payment-index.njk" %} #}

  {# {% include "cards/program/buyer-step-2.njk" %} #}

  {# {% include "cards/program/buyer-step-3.njk" %} #}

  {# {% include "cards/program/buyer-step-4.njk" %} #}

  {# {% include "cards/program/buyer-step-5.njk" %} #}

  {# {% include "cards/program/buyer-step-6.njk" %} #}

{% endblock %}




{% block side_bar %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-search-mls-1.njk" %}

{% endblock%}
