{# Home Buying Program #}


{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_class" : "page-home-buying-program",
    "page_title" : "Bad, Damaged or Good Credit Home Buying Program",
    "card_class" : "home-buying-program",
    "hero_text" : "Our Program",
    "hero_image" : "home-buying-program-hero-image",
    "hero_title" : "Our Program Gets You<br/>The Home You Want
    <br/>with a Payment You Can Afford",
    "mission_text" : "Great credit, good credit, average credit, poor credit,
    makes no difference to us.  We help everyone get the best deal.  The
    stronger your credit, the better the deal."
} %}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {% include "cards/program/buyer-step-1.njk" %}

  {% include "cards/program/buyer-step-2.njk" %}

  {% include "cards/program/buyer-step-3.njk" %}

  {% include "cards/program/buyer-step-4.njk" %}

  {% include "cards/program/buyer-step-5.njk" %}

  {% include "cards/program/buyer-step-6.njk" %}

  {% include "cards/program/buyer-step-7.njk" %}

  {% include "cards/program/buyer-step-8.njk" %}

{% endblock %}




{% block side_bar %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-search-mls-1.njk" %}

{% endblock%}
