{# Index page #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-front.njk",
    "page_title" : "We will help you get the best deal possible.",
    "hero_image" : "front-hero-image",
    "hero_title_org" : "<span class='fp-block-text-left'>Get Better Credit</span>
    <span class='fp-block-text-center'>a Better Mortgage</span>
    <span class='fp-block-text-right'>a Better Home</span>",
    "hero_title_org" : "Our Clients Have More Choices",
    "hero_title" : "Credit Score Increase<br/>Program Included",
    "mission_text_org" : "Our team’s mission is to assist hard working
    familes just like yours, purchase a great home. We can start
    with any credit situation or FICO score, negotiate the lowest
    down payment and get the best possible interest rate for your
    loan. We will work hard to help you reach your home ownership goals.",
    "mission_text_org" : "Our program helps you purchase a great home at a great price.
    <ul>
      <li>We start with any credit situation and help increase your FICO scores for free</li>
      <li>Our lending partners get you a low down payment and great terms for your mortgage</li>
      <li>Your buyer's representitive will only be working for your interest</li>
      <li>Your home inspector will work dilligently to find any hidden defects</li>
      <li>Your REALTOR will guide you through closing</li>
      <li>You are protected by our Great Service guarantee</li>
    </ul>",
    "mission_text" : "<b>Our program helps you get a great deal.</b>
      <ul>
        <li>Our team helps increase your FICO scores for free</li>
        <li>Our lending partners get you a low down payment and great terms for your mortgage</li>
        <li>Your buyer's representitive will only be working for your interest</li>
        <li>Your home inspector will work dilligently to find any hidden defects</li>
        <li>Your REALTOR will guide you through closing</li>
        <li>You are protected by our Great Service guarantee</li>
      </ul>",
    "mission_note" : "Note: Although everyone's situation and time-line is
    different, we will work hard to get you the best deal possible.  Give
    us a call and let's get started.",
    "javacript" : "fp-slider.js"

} %}

  {% extends data.parent_template %}


<!-- You write code for this content block in another file -->

{% block template %}


{# <div class="front-page-start-link">
  <a href="/lists/10-reasons-not-to-buy.html">10 Common Reasons for not Purchasing a Home</a>
</div> #}
{# <div> #}

  {# {{ manifest_data.'foundation.css' }} #}
  {# {% set styles = css_manifest_data %} #}
  {# {{ css_manifest['foundation.css'] }} #}
  {# {{
  js_manifest['foundation.js'] }} #}
  <div class="front-page-col">
    {% include "cards/front-page/stop-leasing.njk" %}
    {% include "cards/front-page/down-payment-assistance.njk" %}
  </div>
  <div class="front-page-col">
    {% include "cards/front-page/credit-score-help.njk" %}
    {% include "cards/front-page/community-loan-programs.njk" %}
  </div>
  {# <div class="front-page-start-link">
    <a href="/home-buying-program.html">How Our System Saves You Money</a>
  </div> #}
  <div class="mce-1">
    {# {% include "mailchimp/mce-test-form-1.njk" %} #}
  </div>
{% endblock %}
