
{# Community hero home loans #}

<!-- base-layout.njk -->

{% set data = {
    "name":  "loan-programs.njk",
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Best Home Loan Programs",
    "card_class" : "best-home-loans",
    "hero_text" : "Home Loan Programs",
    "hero_image" : "loan-programs-hero-image",
    "hero_title" : "The Best Home Loan Programs",
    "mission_text" : "Our mortgage team works with all of the top loan programs offered.
    Since they have access to all the top loan products, they are free to do what is in your best interest.",
    "misson_note" : "Note: The list below is subject to change and may not be
    complete. Your mortgage team member will consult with you on
    eligibility requirements."
} %}

  {% extends data.parent_template %}


<!-- You write code for this content block in another file -->
{% block template %}

<div class="col-left">
  {# {% include "cards/hero-loans/hero-loan-index.njk" %} #}
  <a href="/loan-programs/conventional-home-loan-program.html"><h3>Conventional Home Loans</h3></a>
  <a href="/loan-programs/community-hero-home-loans.html#correctional-officer"><h3>Correctional Officer Home Loans</h3></a>
  <a href="/loan-programs/community-hero-home-loans.html#ems-personnel"><h3>EMS Personnel Home Loans</h3></a>
  <a href="/loan-programs/fha-home-loan-program.html"><h3>FHA Home Loans</h3></a>
  <a href="/loan-programs/community-hero-home-loans.html#fire-fighter"><h3>Fire Fighter Home Loans</h3></a>
  <a href="/loan-programs/low-income-loan-program.html"><h3>Low Income Home Loans</h3></a>
</div>
<div class="col-right">
  <a href="/loan-programs/community-hero-home-loans.html#peace-officer"><h3>Peace Officer Home Loans</h3></a>
  <a href="/loan-programs/community-hero-home-loans.html#school-professional"><h3>School Professionals Home Loans</h3></a>
  <a href="/loan-programs/community-hero-home-loans.html#school-professional"><h3>Teacher Home Loans</h3></a>
  <a href="/loan-programs/usda-home-loan-program.html"><h3>USDA Home Loans</h3></a>
  <a href="/loan-programs/veteran-home-loan-program.html"><h3>Veteran's Home Loans</h3></a>
</div>

{% endblock %}




{% block side_bar %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {# Call to action 1 #}
  {% include "side-bar-items/cta-search-mls-1.njk" %}

{% endblock%}
