{# Home Buying Program #}




{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Tired of Leasing or Renting?",
    "card_class" : "stop-leasing",
    "hero_text" : "Stop thowing your money away",
    "hero_image" : "stop-leasing-hero-image",
    "hero_title_org" : "Why not buy a home for yourself<br/>
    instead of a property for someone else?",
    "hero_title" : "When you lease,<br/>you are still buying a home,<br/>just not for yourself.",
    "mission_text" : "You know that your landlord is making a nice profit every month
    that you pay your rent.  They are counting on you not making the effort
    to purchase your own home.  After all, you are part of their retirement plan.",
    "mission_note" : "Note: Although everyone's situation and time-line is
    different, we will work hard to get you the best deal possible. Give
    us a call and let's get started."
} %}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {% include "cards/stop-leasing/stop-leasing-card-1.njk" %}
  {% include "cards/stop-leasing/stop-leasing-card-2.njk" %}
  {% include "cards/stop-leasing/stop-leasing-card-3.njk" %}

{% endblock %}




{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {# {% include "side-bar-items/cta-stop-leasing-1.njk" %} #}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
