// Unique changes for home-buying-page.njk

// H1 Text too long to fit standard style

.page-credit-score-help h1 {
  // text-align: center;
  // text-decoration: underline;

  @include breakpoint(small) {
    font-size: 2em;
  }

  @include breakpoint(medium) {
    font-size: 2.3em;

  }

  @include breakpoint(large) {

  }
}

//included pages
.page-credit-score-help h1 {
  // text-align: center;
  // text-decoration: underline;

  @include breakpoint(small) {
    font-size: 1.4em;
  }

  @include breakpoint(medium) {
    font-size: 2.3em;

  }

  @include breakpoint(large) {

  }
}
