// Unique changes for home-buying-page.njk

// H1 Text too long to fit standard style

.page-home-buying-program h1 {
  // text-align: center;
  // text-decoration: underline;

  @include breakpoint(small) {
    font-size: 1.6em;
  }

  @include breakpoint(medium) {
    font-size: 2.3em;

  }

  @include breakpoint(large) {

  }
}
