.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(3);
    // @include grid-column(4); //Style default
    margin-top: 1rem;
  }
}
