
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">2</span><span class="step-header">Free Credit Assessment and Score Help</span></h2>
    </div>
    <div class="card-section">
      <p>Our credit score increase program will help almost any home buyer.
        The normal service won't cost you anything and should help you qualify
        for better mortgage rates.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
