

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">3</span><span class="step-header">Select your Mortage Terms</span></h2>
    </div>
    <div class="card-section">
      <p>When your credit score is where you want it, it will be time to select
        your mortgage program and get prequalified.  Since there are many
        different mortgage programs to choose from, we have partnered will
        several different providers in order for you to have choices to select from.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr> #}
  </div>
