
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">1</span><span class="step-header">Meet Your Coordinator</span></h2>
    </div>
    <div class="card-section">
      <p>Since we employ a comprehensive process, it is nice to know that
        there someone that you can contact at any time, for any reason.  Their role
        isn't to sell you a home or negociate your mortgage, just help cordinate
        your journey to home ownership and answer any questions that might arise:
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
