
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">5</span><span class="step-header">Select Your Home and Make an Offer</span></h2>
    </div>
    <div class="card-section">
      <p>Your REALTOR will provide you with a list of every home that meets
        your criteria.  Broaden or reduce your criteria at anytime.  When you
        find a home that you would like to tour, just let them know when and
        they will make all the arrangements with the Seller's agent.  When you
        find your perfect home, your REALTOR will help you negociate the best
        deal possible.  Since they will be legally oblgated as your
        "Buyer's Agent" there is no question that there isn't any conflict of
        interest between you and the seller.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
