

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">7</span><span class="step-header">Close On Your Home</span></h2>
    </div>
    <div class="card-section">
      <p>The title company is customarily selected by the seller.  Your
        REALTOR will coordinate everything with your mortgage provider
        and the title company.  Your next task is to show up at the closing and
        pickup your new home's keys.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
