
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">6</span><span class="step-header">Have the subject property inspected.</span></h2>
    </div>
    <div class="card-section">
      <p>We will provide you with a list of professional, licensed and insured home
        inspectors that you may select from. Now is the time for any problem
        areas to be discovered and addressed or have the price of the home
        reduced accordingly.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
