

  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">8</span><span class="step-header">Help Us Improve & Refer Your Friends</span></h2>
    </div>
    <div class="card-section">
      <p>Please let us know how we can improve our program and let your friends
        know about us.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
  </div>
