
  <div class="card {{ data.card_class }}">
    <div class="card-divider">
      <h2><span class="step-circle">4</span><span class="step-header">Select Your Buyers Agent</span></h2>
    </div>
    <div class="card-section">
      <p>After you have selected and prequalified for your mortgage,
        it is now time to select your buyer's agent who will help find you new
        home and negoicate the purchase contract.  We only work as buyer agents.  This eliminates any question
        legally or otherwise as to who we represent.  The way we see it is
        that you should never have to wonder if we are working for your or
        the seller's best interest.<br>
        <b>Note:</b> If at anytime and for any reason you decide that you no longer
        wish to work with this agent, just let your coordinator know and you
        can select a new agent.  We wil take care of the paperwork.
      </p>
        {# <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul> #}
      </div>
      {# <hr/> #}
  </div>
