<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">2</span><span class="step-header">I’m self employed.</span></h2>
  </div>
  <div class="card-section">
    <p>Being self-employed brings forth numerous mortgage
      challenges. Your credit score, bank records,
      corporate records(if applicable) and work history
      become very important. We can get you into a home,
      but you need to have your loan package looking its
      best.  We can help you prepare.
    </p>
    </div>
    {# <hr/> #}
</div>
