<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">4</span><span class="step-header">Lost my last home to foreclosure.</span></h2>
  </div>
  <div class="card-section">
    <p>Many people for various reasons have lost their
      home to foreclosure. The devil is in the details.
      Most people find that they can purchase another home,
      but the trick is to get decent loan terms. Your credit
      score and employment history become crucial.
    </p>
    </div>
    {# <hr/> #}
</div>
