<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">7</span><span class="step-header">Recently filed bankrupcty.</span></h2>
  </div>
  <div class="card-section">
    <p>All <span class="10-popular-reasons">bankruptcies</span> are as unique as the reasons they
      were required. The general rule of thumb for most
      government-backed loan programs is that you have
      decent credit, regular employment and that twenty-four
      months have passed since the date of discharge. Twenty-four
      month rule starts at the date of discharge and you can usually
      purchase the next day after your waiting time is up.
      We recommend that you start planning your next home
      purchase right away so, at the end of the waiting
      period, you’re prepared for a great loan and home.
    </p>
    </div>
    {# <hr/> #}
</div>
