<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">1</span><span class="step-header">My credit has issues.</span></h2>
  </div>
  <div class="card-section">
    <p>Welcome to America. Obviously, 50% of us have
      below average credit scores. When you take advantage of
      our free credit program and follow the system, your credit
      shouldn't be a problem. The trick is to address
      all credit issues possible and then explain away
      the rest. Time is on your side since mortgage
      companies place less emphasis on older debts. That
      being said, there are still guidelines that have to be met.
      This is why we have a credit partner to help you get your
      <a href="/credit-score-help.html">credit ready for <b>free</b>.</a>
    </p>
    </div>
</div>
