<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">5</span><span class="step-header">I don’t earn enough to qualify for a mortgage.</span></h2>
  </div>
  <div class="card-section">
    <p>We hear this all the time. There are as many solutions
      that will allow you to qualify as there are problems.
      We are experts at finding these solutions.
    </p>
    </div>
    {# <hr/> #}
</div>
