
<div class="card {{ data.card_class }}">
  <div class="card-divider">
<h2><span class="step-circle">10</span><span class="step-header">Just moved to town<br/>and want
to learn the area before buying.</span></h2>
  </div>
  <div class="card-section">
    <p>Great, welcome to the area. Being prepared financially
      before your wanting to purchase is crucial since homes
      in this market are quickly purchased. Take advantage of
      our credit score services to procure the best mortgage
      and be ready pounce when you see the perfect home.
    </p>
    </div>
    {# <hr/> #}
</div>
