<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">8</span><span class="step-header">Had to short sell my last home.</span></h2>
  </div>
  <div class="card-section">
    <p>Although it might seem like the end of the
      home owning world when you handed your keys
      over, we can get you back into home ownership.
      New loan origination rules vary between conventional
      and FHA lenders. They take the reason for the short
      sale into consideration along with how long ago it
      happened and your current credit score. Was this an
      isolated event beyond your control, or was it something
      that is likely to happen again?
    </p>
    </div>
    {# <hr/> #}
</div>
