<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">3</span><span class="step-header">I don’t have a down payment.</span></h2>
  </div>
  <div class="card-section">
    <p>Our lenders have several down payment sources
      that will give qualifying borrowers some or
      all of the down payment required to purchase a
      home. These programs are very specific so don’t
      try to determine on your own if you are qualified.
    </p>
    </div>
    {# <hr/> #}
</div>
