<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">9</span><span class="step-header">Newly divorced and starting over.</span></h2>
  </div>
  <div class="card-section">
    <p>We can help, but every situation is unique.
      It is best to meet with our team and review
      your situation and goals. From there we can
      create a plan to help you into your next home.
    </p>
    </div>
    {# <hr/> #}
</div>
