<div class="card {{ data.card_class }}">
  <div class="card-divider">
    <h2><span class="step-circle">6</span><span class="step-header">I’ve just started a new lease.</span></h2>
  </div>
  <div class="card-section">
    <p>We have worked around many existing leases.
      I all likelihood this issue will not keep
      you out of your home. Our solutions will typically
      allow you not only to maintain good credit with your
      landlord, but don’t require out of pocket expenses.
    </p>
    </div>
    {# <hr/> #}
</div>
