
{# Down Payment Assistance #}

  <div class="card card-link-style-1">
    <div class="card-divider">
      <h2>Down Payment Assistance</h2>
    </div>
    <div class="card-section card-height-front-page">
      <p>More people qualify for up to 100% than
        you imagine, don’t rule yourself out.
      </p>
      </div>
      <div class="link">
        <a href="/down-payment-help.html">Learn more</a>
      </div>
  </div>
