
{# Step 1 #}

  <div class="card">
    <div class="card-divider">
      <h2>Down Payment Program</h2>
    </div>
    <div class="card-section">
      <p>We will provide you with a :
      </p>
        <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul>
      </div>
  </div>
