{# Front Page Property Search Bar #}

<!--  Search bar-->
<div id="front-page-property-search" class="row search-bar">

    <div class="small-12 columns fp-search-bar">
      <form action="/search-mls/tx/dfw-metro#top">
        {# <input id="fp-input-search-all" type="submit" class="button fp-input-search" name="search-all" value="Search our massive online database."placeholder="&nbsp;Search our massive database."> #}
        <input id="fp-btn-search" type="submit" class="button fp-button-search" value="Search Our Massive Property Database">
      </form>
    </div>

</div>
