

    {# --- Original menu start --- #}
    <!--  Menu bar -->
    {#  Mobile menu #}
    {# {% include "partials/menu-mobile.njk" %} #}
    {# <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium"> <button class="menu-icon" type="button" data-toggle="offCanvas"></button> <div class="title-bar-title">Menu</div> <div>Challenged Credit Realty</div>
    </div> #}

    {# <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas> #}

    {# {% include "partials/menu-mobile.njk" %} #}

    <!-- Your menu or Off-canvas content goes here -->
    {# </div>
      <div class="off-canvas-content" data-off-canvas-content> #}

    {#  Desktop menu #}
    {# {% include "partials/menu-desktop.njk" %} #}

    <div class="title-bar" data-responsive-toggle="ccr-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="ccr-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="ccr-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      {# <li class="menu-text">Site Title</li> #}
      <li>
        <a href="/">Home</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  {# <div class="top-bar-left">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div> #}
</div>
