
{# Community hero home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Home Loans for Community Heros",
    "card_class" : "community-heros-loans",
    "hero_text" : "Community Home Loan Programs",
    "hero_image" : "community-heros-hero-image",
    "hero_title" : "Community Hero<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>Home Loans",
    "mission_text" : "There are many special programs which have been developed to
    help our public servants with home ownership. We have listed a few below:",
    "mission_note" : "Note: The list below is subject to change and may not be
    complete. Your mortgage team member will consult with you on
    eligibility requirements."
} %}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {% include "cards/hero-loans/fire-fighter-home-loans.njk" %}

  {% include "cards/hero-loans/peace-officer-home-loans.njk" %}

  {% include "cards/hero-loans/ems-personnel-home-loans.njk" %}

  {% include "cards/hero-loans/correctional-officer-home-loans.njk" %}

  {% include "cards/hero-loans/teacher-pros-home-loans.njk" %}


{% endblock %}




{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
