
{# FHA home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Conventional Home Loan Program",
    "card_class" : "conventional-home-loans",
    "hero_text" : "Conventional Loan Programs",
    "hero_image" : "conventional-hero-image",
    "hero_title" : "Conventional Home<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>Loan Program",
    "mission_text" : "We appreciate your service to our country and want to
    help you get into your next home.  Although you have earned this benefit,
    as with everything else regarding the military, there are plenty of rules
    to follow and forms to fill-out.  This is where our team come in.  We
    are on your side to help you get your next home loan.  Call us today and
    lets get started on getting this done.",
    "mission_note" : ""
} %}

  {% extends data.parent_template %}


{% block template %}
{# <div class="card-panel-left"> #}

    <div class="card card-style-1">
      <div class="card-divider">
        <h2>Program<span class="show-for-small-only"><br/></span>
          <span class="hide-for-small-only">&nbsp;</span>Overview</h2>
      </div>
      <div class="card-section">
        <p>Conventional loans
  * These programs are subject to change, if you dont qualify today, you
  might tomorrow. Ask your mortgage consultant to check if you qualify.
        </p>
        </div>
        {# <div class="link link-card-veteran">
          <a href="/home-loans/veteran-home-loans.html">Learn more</a>
        </div> #}
    </div>


{% endblock %}


{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
