
{# FHA home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "FHA Home Loan Program",
    "card_class" : "fha-home-loans",
    "hero_text" : "FHA Loan Programs",
    "hero_image" : "fha-hero-image",
    "hero_title" : "FHA Home<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>Loan Program",
    "mission_text" : "The FHA home loan program allows lenders to make home loans that they wouldn't otherwise approve due to risks involved.  The result is that more families are offered home loans.",
    "mission_note" : ""
} %}

  {% extends data.parent_template %}


{% block template %}
{# <div class="card-panel-left"> #}

    <div class="card card-style-1">
      <div class="card-divider">
        <h2>FHA Home Loan<span class="show-for-small-only"><br/></span>
          <span class="hide-for-small-only">&nbsp;</span>Program Overview</h2>
      </div>
      <div class="card-section">
        <p>The Federal Housing Administration("FHA") was created in 1934
          to insure home loans against defaults.  Mortgage lenders
          participate in the program so that in cases of foreclosure
          the lender is left holding the losses.  The FHA is the world's
          largest mortgage insurance issuer in the world.  If you select
          a FHA mortgage, your mortgage team member will review all of
          the details and how they could effect your loan.</p>
        <h3>FHA Loan Limits</h3>
        <p>Your loan limits will be based upon your county and housing type.</p>
        <h3>FHA Closing Costs</h3>
        <p>Closing costs are set by local FHA offices.</p>
        <h3>FHA Debt Ratios</h3>
        <p>The FHA has established guidelines as to how much monthly
        debt repayment you can qualify with.  This is commonly known as
        Debt-to-Income-Ratio.</p>
        <h3>FHA Past Credit Issues</h3>
          <p>Any past credit issues will need to be addressed.</p>
        <h3>Veteran Discharge Documentation</h3>
        <p>Official record of discharge DD Form 214</p>
        <blockquote>
  * These programs are subject to change, if you dont qualify today, you
  might tomorrow. Ask your mortgage consultant to check if you qualify.
</blockquote>
        </div>
        {# <div class="link link-card-veteran">
          <a href="/home-loans/veteran-home-loans.html">Learn more</a>
        </div> #}
    </div>


{% endblock %}


{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
