
{# low income home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Low Income Loan Programs",
    "card_class" : "low-income-home-loans",
    "hero_text" : "Low Income Loan Programs",
    "hero_image" : "low-income-hero-image",
    "hero_title" : "Low Income Home Loans",
    "mission_text" : "There are many special programs which have been developed to
    help our public servants with home ownership. We have listed a few below:",
    "mission_note" : "Note: The list below is subject to change and may not be
    complete. Your mortgage team member will consult with you on
    eligibility requirements."
} %}

  {% extends data.parent_template %}

<!-- You write code for this content block in another file -->
{% block template %}

  {# {% include "loan-programs/index-home-loan-card.njk" %} #}

{% endblock %}




{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
