
{# FHA home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "USDA Home Loan Program",
    "card_class" : "usda-home-loans",
    "hero_text" : "USDA Loan Programs",
    "hero_image" : "usda-hero-image",
    "hero_title" : "USDA Home<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>Loan Program",
    "mission_text" : "So you have always wanted to live in the country.  Have
    we got a deal for you.  Since banks weren't real excited about loaning
    money to purchase homes out in the country, the Federal Government stepped
    up and developed a program.  It's focused towards families who don't make a
    lot of money, but maybe in your case; this is an
    opportunity.  The trick is to find a property that matches the
    requirements of the program.  As you will read below, your income and credit score is
    important.  Although we can't help with your income, our <a href='/credit-score-help.html'>credit team</a> is
    at your disposal to help in any way possible to get your credit score
    where it needs to be to meet the USDA requirements.",
    "mission_note" : ""
} %}

  {% extends data.parent_template %}


{% block template %}
{# <div class="card-panel-left"> #}

    <div class="card card-style-1">
      <div class="card-divider">
        <h2>Single Family Housing<span class="show-for-small-only"><br/></span>
          <span class="hide-for-small-only">&nbsp;</span>Guaranteed Loan Program</h2>
      </div>
      <div class="card-section">
        <p>Who may apply for this program?
Applicants must:
<ul>
  <li>Meet income-eligibility</li>
  <li>Agree to personally occupy the dwelling as their primary residencey</li>
  <li>Be a U.S. Citizen, U.S. non-citizen national or Qualified Alien</li>
  <li>Have the legal capacity to incur the loan obligation</li>
  <li>Have not been suspended or debarred from participation in federal programs</li>
  <li>Demonstrate the willingness to meet credit obligations in a timely manner</li>
  <li>Purchase a property that meets all program criteria</li>
</ul>
How may funds be used?
<br/>
Funds backed by loan guarantees be used for:
<ul>
<li>New or existing residential property to be used as a permanent residence.  Closing cost and reasonable/customary expenses associated with the purchase may be included in the transaction</li>
<li>A site with a new or existing dwelling</li>
<li>Repairs and rehabilitation when associated with the purchase of an existing dwelling</li>
<li>Refinancing of eligible loans</li>
<li>Special design features or permanently installed equipment to accommodate a household member who has a physical disability</li>
<li>Reasonable and customary connection fees, assessments or the pro rata installment cost for utilities such as water, sewer, electricity and gas for which the buyer is liable</li>
<li>A pro rata share of real estate taxes that is due and payable on the property at the time of loan closing.  Funds can be allowed for the establishment of escrow accounts for real estate taxes and/or hazard and flood insurance premiums</li>
<li>Essential household equipment such as wall-to-wall carpeting, ovens, ranges, refrigerators, washers, dryers, heating and cooling equipment as long as the equipment is conveyed with the dwelling</li>
<li>Purchasing and installing measures to promote energy efficiency (e.g. insulation, double-paned glass and solar panels)</li>
<li>Installing fixed broadband service to the household as long as the equipment is conveyed with the dwelling</li>
<li>Site preparation costs, including grading, foundation plantings, seeding or sod installation, trees, walks, fences and driveways</li>
</ul>
  <span class="note">* These programs are subject to change, if you dont qualify today, you
  might tomorrow. Ask your mortgage consultant to check if you qualify.</span>
        </p>
        </div>
        {# <div class="link link-card-veteran">
          <a href="/home-loans/veteran-home-loans.html">Learn more</a>
        </div> #}
    </div>


{% endblock %}


{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
