
{# Community servant home loans #}

<!-- base-layout.njk -->

{% set data = {
    "base_layout" : "base-layout.njk",
    "parent_template" : "page-sidebar-right.njk",
    "page_title" : "Home Loans for Veterans",
    "card_class" : "veteran-home-loans",
    "hero_text" : "Veteran Loan Programs",
    "hero_image" : "veterans-hero-image",
    "hero_title" : "Veteran's Home<span class='show-for-small-only'><br/>
    </span><span class='hide-for-small-only'>&nbsp;</span>Loan Program",
    "mission_text" : "We appreciate your service to our country and want to
    help you get into your next home.  Although you have earned this benefit,
    as with everything else regarding the military, there are plenty of rules
    to follow and forms to fill-out.  This is where our team come in.  We
    are on your side to help you get your next home loan.  Call us today and
    lets get started on getting this done.",
    "mission_note" : ""
} %}

  {% extends data.parent_template %}


{% block template %}
{# <div class="card-panel-left"> #}

    <div class="card card-style-1">
      <div class="card-divider">
        <h2>Program<span class="show-for-small-only"><br/></span>
          <span class="hide-for-small-only">&nbsp;</span>Overview</h2>
      </div>
      <div class="card-section">
        <p>Veteran - means a person who: (A)(i) served not less than 90 days,
          unless sooner discharged by reason of a service-connected disability,
          on active duty in the Army, Navy, Air Force, Coast Guard, United
          States Public Health Service (as constituted under 42 U.S.C.
          Section 201 et seq.), or Marine Corps of the United States after
          September 16, 1940, and who on the date of filing an application
          under the program has not been dishonorably discharged from the
          branch of the service in which the person served; (ii) has at least
          20 years of active or reserve military service as computed when
          determining the person’s eligibility to receive retired pay under
          applicable federal law; (iii) has enlisted or received an appointment
          in the Texas National Guard, who has completed all initial active
          duty training required as a condition of the enlistment or appointment,
          and who on the date of filing the person’s application has not been
          dishonorably discharged from the Texas National Guard; or (iv) served
          in the armed forces of the Republic of Vietnam between February 28,
          1961 and May 7, 1975; (B) at the time of the person’s enlistment,
          induction, commissioning, appointment, or drafting was a bona fide
          resident of this state or has resided in this state at least one year
          immediately before the date of filing an application under this
          chapter; and (C) at the time of the person’s application under this
          chapter is a bona fide resident of this state. The term includes the
          unmarried surviving spouse of a veteran who died or who is identified
          as missing in action if the deceased or missing veteran meets the
          requirements of this section, with the exception that the deceased or
          missing veteran need not have served 90 days under Paragraph (A)(i) of
          this subdivision, and if the deceased or missing veteran was a bona
          fide resident of this state at the time of enlistment, induction,
          commissioning, appointment, or drafting.

  * These programs are subject to change, if you dont qualify today, you
  might tomorrow. Ask your mortgage consultant to check if you qualify.
        </p>
        </div>
        {# <div class="link link-card-veteran">
          <a href="/home-loans/veteran-home-loans.html">Learn more</a>
        </div> #}
    </div>


{% endblock %}


{% block side_bar %}

  {% include "side-bar-items/cta-credit-questions-1.njk" %}

  {% include "side-bar-items/cta-search-mls-1.njk" %}

  {% include "side-bar-items/cta-our-program.njk" %}

  {% include "side-bar-items/cta-stop-leasing-1.njk" %}

  {% include "side-bar-items/cta-10-reasons-not-to-buy.njk" %}

  {% include "side-bar-items/cta-loan-programs.njk" %}

{% endblock%}
