
{# Correctional officer home loans #}

  <div id="correctional-officer" class="card card-style-1 ">
    <div class="card-divider">
      <h2>Correctional Officer<span class="show-for-small-only"><br/></span><span class="hide-for-small-only">&nbsp;</span>Home Loans</h2>
    </div>
    <div class="card-section">
      <p>This program has very specific requirements.
      </p>
        <ul>
          <li>Employees of the Texas Department
            of Criminal Justice who receive hazardous duty pay.
          </li>
          <li>Employees of the Texas Department of Juvenile
            Justice who receive hazardous duty pay.
          </li>
          <li>County jailers</li>
          <li>Licensed paramedics</li>
        </ul>
      </div>
  </div>
