
{# EMS personell home loans #}

  <div id="ems-personnel" class="card card-style-1 ">
    <div class="card-divider">
      <h2>EMS Personnel<span class="show-for-small-only"><br/></span><span class="hide-for-small-only">&nbsp;</span>Home Loans</h2>
    </div>
    <div class="card-section">
      <p>This program is for full-time staff such as:
      </p>
        <ul>
          <li>Emergency care attendants</li>
          <li>Emergency medical technicians</li>
          <li>Emergency medical technicians-intermediate</li>
          <li>Emergency medical technicians-paramedic</li>
          <li>Licensed paramedics</li>
        </ul>
      </div>
  </div>
