{# Fire fighter home loans #}
{# <div class="card-panel-left"> #}
<!-- Left Column -->
    <div class="card card-style-1 ">
      <div class="card-divider">
        <h2>Hero Loan Programs</h2>
      </div>
      <div class="card-section">
        <p>This program is focused towards non-administration
          employees assigned to one of the following:
        </p>
          <ul>
            <li>Fire suppression</li>
            <li>Fire inspection</li>
            <li>Fire and arson investigation</li>
            <li>Marine fire fighting</li>
            <li>Aircraft rescue and fire fighting</li>
            <li>Fire training</li>
            <li>Fire education</li>
            <li>Fire administration</li>
          </ul>
      </div>
    </div>
