
{# Peace officer home loans #}

  <div id="peace-officer" class="card card-style-1">
    <div class="card-divider">
      <h2>Peace Officer<span class="show-for-small-only"><br/></span><span class="hide-for-small-only">&nbsp;</span>Home Loans</h2>
    </div>
    <div class="card-section">
      <p>These programs focus towards elected, employed
        or appointed full-time peace officers. Some
        public security officers also may qualify.
      </p>
      <ul>
        <li>Must be elected, employed, or appointed as
          a full-time peace officer under Article 2.12,
          Code of Criminal Procedure, Section 51.212 or
          51.214 or Education Code and licensed through
          the Texas Commission on Law Enforcement.
        </li>
        <li>Must be employed or appointed full-time as an
          armed public security officerthrough this state
          or a political subdivision of this state and
          licensed through the Texas Commission on Law
          Enforcement.
        </li>
      </ul>
      </div>
  </div>
