
{# Teachers & pros home loans #}

  <div id="school-professional" class="card card-style-1">
    <div class="card-divider">
      <h2>Teachers & School Professionals<span class="show-for-small-only"><br/></span><span class="hide-for-small-only">&nbsp;</span>Home Loans</h2>
    </div>
    <div class="card-section">
      <p>If you are a full time employed as one of the following:
      </p>
        <ul>
          <li>Classroom teacher</li>
          <li>Teacher aide</li>
          <li>School librarian</li>
          <li>School counselor</li>
          <li>School nurse</li>
        </ul>
        <p>or employed at a Texas university or college as:</p>
        <ul>
          <li>Allied health faculty</li>
          <li>Nursing faculty</li>
       </ul>
      </div>
  </div>
