
{# Veteran home loans #}

  <div class="card card-link-style-1 ">
    <div class="card-divider">
      <h2>Veteran’s<span class="show-for-small-only"><br/></span><span class="hide-for-small-only">&nbsp;</span>Home Loans</h2>
    </div>
    <div class="card-section">
      <p>This program is very detailed so
        it gets its own page. Please follow the link below.
      </p>
      </div>
      <div class="link link-card-veteran">
        <a href="/loan-programs/veteran-home-loan-program.html">Learn more</a>
      </div>
  </div>
