<footer class="row footer">
  <div class="content">
    <div class="footer-content-left">
      <hr/>
      <p>
        Powered by Fathom Realty<br/>
        Users may not reproduce or redistribute the data found on this site. The data is for viewing purposes only. Data is deemed reliable, but is not guaranteed accurate by the MLS or NTREIS.
      </p>
    </div>
    <div class="footer-content-right">
      <hr/>
      <a href="#">Texas Real Estate Commission Consumer Protection Notice</a>
      <a href="#">Texas Real Estate Commission Information About Brokerage Services</a>
    </div>
  </div>
</footer>
