{# Mobile menu #}


{% set menu = {
    "parent_1" : {
      "name" : "Home",
      "url" : "/index-1.html"
    },
    "parent_2" : {
      "name" : "Our Program",
      "url" : "/home-buying-program.html"
    },
    "parent_3" : {
      "name" : "Search MLS",
      "url" : "#"
    },
    "parent_4" : {
      "name" : "Loan programs",
      "url" : "#",
      "child_1" : {
        "name" : "Community Heros",
        "url" : "/loan-programs/community-hero-home-loans.html" },
      "child_2" : {
          "name" : "Veterans",
          "url" : "/loan-programs/veteran-home-loan-program.html" },
        "child_3" : {
            "name" : "Lower Income",
            "url" : "#" },
        "child_4" : {
            "name" : "USDA Home Loans",
            "url" : "/loan-programs/usda-loan-program.html" },
        "child_5" : {
            "name" : "FHA Home Loans",
            "url" : "/loan-programs/fha-loan-program.html" },
        "child_6" : {
            "name" : "Conventional Home Loans",
            "url" : "/loan-programs/conventional-home-loan-program.html" }
      },
    "parent_5" : {
      "name" : "Down Payment Help",
      "url" : "/down-payment-help.html",
      "child_1" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
        "child_3" : {
            "name" : "Child 3",
            "url" : "#" },
        "child_4" : {
            "name" : "Child 4",
            "url" : "#" },
        "child_5" : {
            "name" : "Child 5",
            "url" : "#" }
    },
    "parent_6" : {
      "name" : "Credit Information",
      "url" : "/crdedit-score-help.html",
      "child_1" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
        "child_3" : {
            "name" : "Child 3",
            "url" : "#" },
        "child_4" : {
            "name" : "Child 4",
            "url" : "#" },
        "child_5" : {
            "name" : "Child 5",
            "url" : "#" }
    },
    "parent_7" : {
      "name" : "Sell Your Home",
      "url" : "#"
    }
}
%}

  {# {% import "partials/menu-json.njk" %} #}

  <ul class="vertical menu" data-accordion-menu>
    <li>
      <a href="{{ menu.parent_1.url }}">{{ menu.parent_1.name }}</a>
    </li>
    <li>
      <a href="{{ menu.parent_2.url }}">{{ menu.parent_2.name }}</a>
    </li>
    <li>
      <a href="{{ menu.parent_3.url }}">{{ menu.parent_3.name }}</a>
      <ul class="menu vertical nested">
        <li><a href="{{ menu.parent_3.child_1.url }}">{{ menu.parent_3.child_1.name }}</a></li>
        <li><a href="{{ menu.parent_3.child_2.url }}">{{ menu.parent_3.child_2.name }}</a></li>
        <li><a href="{{ menu.parent_3.child_3.url }}">{{ menu.parent_3.child_3.name }}</a></li>
        <li><a href="{{ menu.parent_3.child_4.url }}">{{ menu.parent_3.child_4.name }}</a></li>
        <li><a href="{{ menu.parent_3.child_5.url }}">{{ menu.parent_3.child_5.name }}</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ menu.parent_4.url }}">{{ menu.parent_4.name }}</a>
      <ul class="menu vertical nested">
        <li><a href="{{ menu.parent_4.child_1.url }}">{{ menu.parent_4.child_1.name }}</a></li>
        <li><a href="{{ menu.parent_4.child_2.url }}">{{ menu.parent_4.child_2.name }}</a></li>
        <li><a href="{{ menu.parent_4.child_3.url }}">{{ menu.parent_4.child_3.name }}</a></li>
        <li><a href="{{ menu.parent_4.child_4.url }}">{{ menu.parent_4.child_4.name }}</a></li>
        <li><a href="{{ menu.parent_4.child_5.url }}">{{ menu.parent_4.child_5.name }}</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ menu.parent_5.url }}">{{ menu.parent_5.name }}</a>
      {# <ul class="menu vertical nested">
        <li><a href="{{ menu.parent_5.child_1.url }}">{{ menu.parent_5.child_1.name }}</a></li>
        <li><a href="{{ menu.parent_5.child_2.url }}">{{ menu.parent_5.child_2.name }}</a></li>
        <li><a href="{{ menu.parent_5.child_3.url }}">{{ menu.parent_5.child_3.name }}</a></li>
        <li><a href="{{ menu.parent_5.child_4.url }}">{{ menu.parent_5.child_4.name }}</a></li>
        <li><a href="{{ menu.parent_5.child_5.url }}">{{ menu.parent_5.child_5.name }}</a></li>
      </ul> #}
    </li>
    <li>
      <a href="{{ menu.parent_6.url }}">{{ menu.parent_6.name }}</a>
    </li>
  </ul>

{# //closes top  #}
{# </div> #}
