
{# Menu desktop #}

{#
{% include "partials/menu.json" %}
{% set menu_2 = menu_json %} #}

{# {% set menu = {{ menu_json }} %} #}

{% set menu = {
    "parent_0" : {
      "name" : "Home",
      "url" : "/index-1.html"
    },
    "parent_1" : {
      "name" : "Our Program",
      "url" : "/home-buying-program.html"
    },
    "parent_2" : {
      "name" : "Search MLS",
      "url" : "#"
    },
    "parent_3" : {
      "name" : "Loan programs",
      "url" : "#",
      "child_0" : {
        "name" : "Community Heros",
        "url" : "/loan-programs/community-hero-home-loans.html" },
      "child_1" : {
        "name" : "Veterans",
        "url" : "/loan-programs/veteran-home-loan-program.html" },
      "child_2" : {
          "name" : "Reduced Income",
          "url" : "#" },
      "child_3" : {
          "name" : "USDA Home Loans",
          "url" : "/loan-programs/usda-loan-program.html" },
      "child_4" : {
          "name" : "FHA Home Loans",
          "url" : "/loan-programs/fha-loan-program.html" },
      "child_5" : {
          "name" : "Conventional Home Loans",
          "url" : "/loan-programs/conventional-home-loan-program.html" }
      },
    "parent_4" : {
      "name" : "Down Payment Help",
      "url" : "/down-payment-help.html",
      "child_0" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
      "child_3" : {
          "name" : "Child 3",
          "url" : "#" },
      "child_4" : {
          "name" : "Child 4",
          "url" : "#" },
      "child_5" : {
          "name" : "Child 5",
          "url" : "#" }
    },
    "parent_5" : {
      "name" : "Credit Information",
      "url" : "/credit-score-help.html",
      "child_0" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
        "child_3" : {
            "name" : "Child 3",
            "url" : "#" },
        "child_4" : {
            "name" : "Child 4",
            "url" : "#" },
        "child_5" : {
            "name" : "Child 5",
            "url" : "#" }
    },
    "parent_6" : {
      "name" : "Sell Your Home",
      "url" : "#"
    }
}
%}

{# loop outer
  - create main item
  loop inner
  -create sub item
    loop child
    - create child iten #}



{# {% for key, object in menu  %} #}

<div class="row">
  {# <menu class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out"> #}
  <menu class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drildown medium-dropdown">
        <li>
          <a href="{{ menu.parent_0.url }}">{{ menu.parent_0.name }}</a>
        </li>
        <li>
          <a href="{{ menu.parent_1.url }}">{{ menu.parent_1.name }}</a>
        </li>
        <li>
          <a href="{{ menu.parent_2.url }}">{{ menu.parent_2.name }}</a>
          {# <ul class="menu vertical">
            <li><a href="{{ menu.parent_2.child_0.url }}">{{ menu.parent_2.child_0.name }}</a></li>
            <li><a href="{{ menu.parent_2.child_1.url }}">{{ menu.parent_2.child_1.name }}</a></li>
            <li><a href="{{ menu.parent_2.child_2.url }}">{{ menu.parent_2.child_2.name }}</a></li>
            <li><a href="{{ menu.parent_2.child_3.url }}">{{ menu.parent_2.child_3.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_4.url }}">{{ menu.parent_2.child_4.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_5.url }}">{{ menu.parent_2.child_5.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_6.url }}">{{ menu.parent_2.child_6.name }}</a></li>
          </ul> #}
        </li>
        <li class="has-submenu">
          <a href="{{ menu.parent_3.url }}">{{ menu.parent_3.name }}</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="{{ menu.parent_3.child_0.url }}">{{ menu.parent_3.child_0.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_1.url }}">{{ menu.parent_3.child_1.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_2.url }}">{{ menu.parent_3.child_2.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_3.url }}">{{ menu.parent_3.child_3.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_4.url }}">{{ menu.parent_3.child_4.name }}</a></li>
            <li><a href="{{ menu.parent_3.child_5.url }}">{{ menu.parent_3.child_5.name }}</a></li>
            {# <li><a href="{{ menu.parent_3.child_6.url }}">{{ menu.parent_3.child_6.name }}</a></li> #}
          </ul>
        </li>
        <li>
          <a href="{{ menu.parent_4.url }}">{{ menu.parent_4.name }}</a>
          {# <ul class="menu vertical">
            <li><a href="{{ menu.parent_5.child_2.url }}">{{ menu.parent_5.child_2.name }}</a></li>
            <li><a href="{{ menu.parent_5.child_3.url }}">{{ menu.parent_5.child_3.name }}</a></li>
            <li><a href="{{ menu.parent_5.child_4.url }}">{{ menu.parent_5.child_4.name }}</a></li>
            <li><a href="{{ menu.parent_5.child_5.url }}">{{ menu.parent_5.child_5.name }}</a></li>
            <li><a href="{{ menu.parent_5.child_6.url }}">{{ menu.parent_5.child_6.name }}</a></li>
          </ul> #}
        </li>
        <li>
          <a href="{{ menu.parent_5.url }}">{{ menu.parent_5.name }}</a>
        </li>
      </ul>
      </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li class="menu-phone-number small-offset-2">1-800-418-1164&nbsp;</li>
          </ul>
        </div>
  </menu>
</div>
{# {% endfor %} #}
