
{% set menu = {
    "parent_1" : {
      "name" : "Home",
      "url" : "#"
    },
    "parent_2" : {
      "name" : "Search MLS",
      "url" : "#"
    },
    "parent_3" : {
      "name" : "Home Loans",
      "url" : "#",
      "child_1" : {
        "name" : "Community Heros",
        "url" : "#" },
      "child_2" : {
          "name" : "Veterans",
          "url" : "#" },
        "child_3" : {
            "name" : "Reduced Income",
            "url" : "#" },
        "child_4" : {
            "name" : "FHA",
            "url" : "#" },
        "child_5" : {
            "name" : "Conventional",
            "url" : "#" }
      },
    "parent_4" : {
      "name" : "Down Payment Help",
      "url" : "#",
      "child_1" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
        "child_3" : {
            "name" : "Child 3",
            "url" : "#" },
        "child_4" : {
            "name" : "Child 4",
            "url" : "#" },
        "child_5" : {
            "name" : "Child 5",
            "url" : "#" }
    },
    "parent_5" : {
      "name" : "Credit Information",
      "url" : "#",
      "child_1" : {
        "name" : "Child 1",
        "url" : "#" },
      "child_2" : {
          "name" : "Child 2",
          "url" : "#" },
        "child_3" : {
            "name" : "Child 3",
            "url" : "#" },
        "child_4" : {
            "name" : "Child 4",
            "url" : "#" },
        "child_5" : {
            "name" : "Child 5",
            "url" : "#" }
    },
    "parent_6" : {
      "name" : "Sell Your Home",
      "url" : "#"
    }
}
%}
